@import "../../../styles/mixins";

.dropDownList {
  border: none;
  border-radius: 8px;
  width: 260px;
  background: $c-white;
  padding: 14px 46px 14px 20px;
  outline: none;

  option {
    border-radius: 12px;
    color: rgba(0, 11, 38, 0.72);
    padding: 10px 20px;
    border: none;
  }
}

@media screen and (max-width: 1120px) {
  .dropDownList {
    width: 200px;
    padding: 14px 30px 14px 20px;
  }
}

@media screen and (max-width: 920px) {
  .dropDownList {
    width: 160px;
    padding: 14px 30px 14px 20px;
  }
}

@media screen and (max-width: 770px) {
  .dropDownList {
    width: 120px;
    padding: 14px 20px 14px 20px;
  }
}

@media screen and (max-width: 620px) {
  .dropDownList {
    display: none;
  }
}