@import "../../styles/mixins";

.bottomSheet {
  display: none;
}

@media screen and (max-width: 620px) {
  .cards {
    display: flex;
    justify-content: flex-start;
    margin: 20px 20px 0 20px;

    &__header {
      @include regular-text;
      font-weight: 400;
      color: $c-dark;
    }
  }

  .bottomSheet {
    display: initial;
    z-index: 9;
  }
}

@media screen and (max-width: 420px) {
  .cards {
    justify-content: center;
  }
}