@import "../../styles/mixins";

.bottomSheet {
  display: none;
}

@media screen and (max-width: 420px) {
  .cards {
    display: initial;
    margin: 20px 20px 0 20px;
  }

  .bottomSheet {
    display: initial;
    z-index: 9;
  }
}
