@import '../../styles/mixins';

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.ecomarket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  &__mobileFilter {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.sortingButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.productCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 70px;
  max-width: 870px;

  &__productCardsItem {
    margin-bottom: 30px;
  }
}

.skeletonItem {
  margin-bottom: 8px;
}

@media screen and (max-width: 1250px) {
  .container {
    max-width: 1000px;
    margin: 0 auto 20px auto;
  }
  .ecomarket {
    &__content {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  .productCards {
    max-width: 570px;
  }
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 800px;
    margin: 0 auto 20px auto;
  }
  .ecomarket {
    &__content {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  .filter {
    max-width: 250px;
  }

  .productCards {
    max-width: 500px;
  }

  .filterBtn {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 350px;
  }
  .ecomarket {
    &__content {
      max-width: 350px;

      &__filter {
        display: none;
      }
    }

    &__mobileFilter {
      display: block;
    }
  }

  .sortingButtons {
    display: none;
  }

  .productCards {
    max-width: 350px;
    margin-left: 0;
  }
}

