@import "../../styles/mixins";

.bottomSheet {
  display: none;
}

@media screen and (max-width: 620px) {
  .bottomSheet {
    display: initial;

    &__btn {
      display: flex;
      flex-direction: column;
      width: 300px;
    }
  }
}

@media screen and (max-width: 420px) {
  .filter {
    padding-left: 10px;
  }

  .bottomSheet {
    display: initial;
    z-index: 9;
  }
}