@import "../../styles/mixins";

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.profile {
  display: flex;
  flex-direction: row;
  margin-top: 40px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $c-light-grey;
    border-radius: 20px;
    padding: 40px;
    margin-right: 48px;
    max-height: 400px;

    &__avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-width: 320px;

      img {
        width: 128px;
        height: 128px;
        margin-bottom: 24px;
        border-radius: 50%;
      }
    }

    &__personalData {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    h2 {
      @include infoBlockText;
      font-size: 24px;
    }

    p {
      @include secondary-text;
    }
  }
}


@media screen and (max-width: 1250px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  .profile {
    &__info {
      padding: 20px;

      img {
        width: 120px;
        height: 120px;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .profile {
    &__info {
      padding: 15px;
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    max-width: 650px;
    margin: 0 auto;
  }

  .profile {
    &__info {
      &__avatar {
        min-width: 250px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
  }

  .profile {
    &__info {
      &__avatar {
        min-width: 200px;

        h2 {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .container {
    max-width: 350px;
    margin: 0 auto;
  }

  .profile {
    flex-direction: column;
    &__info {
      margin-bottom: 30px;
      width: 90%;
      &__avatar {
      }
    }
  }
}