@import '../../styles/mixins';

.mapPage {
  margin-top: -40px;

  &__info {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    &__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      max-width: 1200px;
      width: 100%;
      margin-top: 32px;
      z-index: 5;

    }

    &__filterBtn {
      display: none;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      float: left;
      z-index: 5;
      position: absolute;
      margin-top: 112px;
    }
  }
}

@media screen and (max-width: 1320px) {
  .mapPage {
    &__info {
      max-width: 1000px;
      width: 100%;
      margin: 0 auto;

      &__top{
        max-width: 1000px;
        width: 100%;
      }
    }
  }
}


@media screen and (max-width: 1120px) {
  .mapPage {
    &__info {
      max-width: 800px;
      width: 100%;
      margin: 0 auto;

      &__top{
        max-width: 800px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  .mapPage {
    &__info {
      max-width: 650px;
      width: 100%;
      margin: 0 auto;

      &__top{
        max-width: 650px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  .mapPage {
    &__info {
      max-width: 500px;
      width: 100%;
      margin: 0 auto;

      &__top{
        max-width: 500px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .mapPage {
    &__info {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;

      &__top{
        max-width: 330px;
        width: 100%;
        margin-top: 30px;
      }

      &__filterBtn {
        display: initial;
      }

      &__cards {
        display: none;
      }
    }
  }
}