@import "../../../styles/mixins";

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__input {
    display: none;
  }

  &__span {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid $c-grey;
    border-radius: 4px;
    margin-right: 9px;
    background: $c-white;
  }

  &__activeSpan {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    margin-right: 9px;
    border: 1px solid $c-green;
    background-color: $c-green;
    background-image: url("../../../svg-icons/checkbox.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }

  &__text {
    @include primary-text;
    font-weight: 400;
  }

  &__activeText {
    @include primary-text;
    font-weight: 500;
  }
}
