@import "../../../styles/mixins";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  @include secondary-text;
  padding: 12px 22px;
  cursor: pointer;
  background: none;

  &Green {
    @extend .button;
    background: $c-green;
    color: $c-white;
  }

  &Grey {
    @extend .button;
    background: $c-light-grey;
    color: $c-dark;
  }

  &Default {
    @extend .button;
    color: black;
    padding: 0;
  }

  &Eco {
    @extend .button;
    background: $c-light-grey;
    border-radius: 61px;
    color: $c-dark-grey;
    margin-left: 12px;

    &:focus, &:hover {
      background: $c-dark-grey;
      color: $c-white;
    }

    &:first-child{
      margin-left: 0;
    }
  }

  &Filter {
    @extend .button;
    background: $c-white;
    border-radius: 8px;
    padding: 12px;
  }

}

