@import "../../../styles/mixins";

.button {
  border-radius: 8px;
  border: none;
  @include secondary-text;
  padding: 12px 22px;
  cursor: pointer;
  background: none;

  &Green {
    @extend .button;
    background: $c-green;
    color: $c-white;
  }

  &Grey {
    @extend .button;
    background: $c-light-grey;
    color: $c-dark;
  }

  &Default {
    @extend .button;
    color: black;
    padding: 0;
  }
}

