@import "../../styles/mixins";

.cardsFlex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 108px;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .container{
    max-width: 1000px;
    margin: -40px auto 0;
  }

  .cardsFlex{
    max-width: 1000px;
    margin: 0 auto 70px auto;
  }
}

@media screen and (max-width: 1050px){
  .container{
    max-width: 800px;
    margin: -40px auto 0;
  }

  .cardsFlex{
    max-width: 800px;
    margin: 0 auto 70px auto;
  }
}

//@media screen and (max-width: 400px){
//  .cardsFlex{
//    max-width: 800px;
//    margin: 0 auto 70px auto;
//  }
//}

@media screen and (max-width: 850px){
  .container{
    max-width: 600px;
    margin: -40px auto 0;
  }

  .cardsFlex{
    max-width: 600px;
    margin: 0 auto 70px auto;
  }
}

@media screen and (max-width: 375px){
  .container{
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
  }

  .cardsFlex{
    display: flex;
    flex-direction: column;
    max-width: 340px;
    margin-top: -160px;
    padding: 0 16px;
    z-index: 5;
    position: absolute;
  }
}