@import "../../styles/mixins";

.header {
  display: none;
}

@media screen and (max-width: 850px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    border-bottom: 1px solid $c-light-grey;

    &__container {
      max-width: 650px;
      width: 100%;
      padding: 16px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__link {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 20px;

      p {
        margin-left: 8px;
        @include secondary-text;
        font-weight: 600;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:24px;
    border-bottom: 1px solid $c-light-grey;

    &__container {
      max-width: 500px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:24px;
    border-bottom: 1px solid $c-light-grey;

    &__container {
      max-width: 350px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}


