@import "../../../../styles/mixins";

.collectionCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 385px;
  background: $c-white;
  border-radius: 15px;
  margin-bottom: 16px;
  padding: 16px;

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    h3 {
      @include primary-text;
      color: $c-dark-grey;
    }
    p {
      @include primary-text;
    }
  }
}

@media screen and (max-width: 1120px){
  .collectionCard{
    width: 300px;

    img{
      width: 90px;
    }
  }
}

@media screen and (max-width: 420px){
  .collectionCard{
    max-width: 327px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 16px auto 16px auto;
  }
}

@media screen and (max-width: 355px){
  .collectionCard{
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 16px auto 16px auto;

    img {
      width: 70px;
      height: 100px;
    }
  }
}