@import "../../../styles/mixins";

.promocodeCard {
  border-radius: 24px;
  width: 275px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  &__info {
    display: flex;
    flex-direction: column;
    padding: 140px 24px 24px;

    &__button {
      margin: 0 auto;
    }

    &__text {
      margin-bottom: 60px;
    }

    p {
      @include secondary-text;
      text-align: center;
    }

    &__coins {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      h6 {
        @include secondary-text;
        color: $c-dark-grey;
        font-weight: bold;
      }

      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }

    &__balance {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 9px;

      p {
        @include secondary-text;
        color: $c-dark;
        margin-right: 12px;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .promocodeCard {
    width: 240px;

    &__info {
      padding-top: 100px;

      &__balance {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .promocodeCard {
    width: 220px;

    &__info {
      padding-top: 80px;

      &__text {
        margin-bottom: 30px;
      }

      &__button {
        width: 172px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .promocodeCard {
    width: 300px;

    &__info {
      &__text {
        margin-bottom: 60px;
      }

      &__button {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .promocodeCard {
    width: 200px;

    &__info {
      padding: 60px 20px 20px;

      &__text {
        margin-bottom: 40px;
      }

      &__button {
        width: 120px;
      }
    }
  }
;
}

@media screen and (max-width: 420px) {
  .promocodeCard {
    width: 350px;

    &__info {
      width: 230px;
      margin: 0 auto;
      padding-top: 140px;

      &__text {
        margin-bottom: 60px;
      }

      &__button {
        width: 200px;
      }

      &__balance {
        flex-direction: row;
      }

      &__text {
        p {
          @include primary-text;
          color: $c-dark;
          font-weight: 400;
        }
      }
    }
  }
}