@import "../../styles/mixins";

.header {
  border-bottom: 1px solid $c-light-grey;
  margin-bottom: 40px;

  &__container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

nav {
  display: flex;

  img {
    padding-top: 27px;
  }

  .link {
    @include regular-text;
    text-decoration: none;
    margin-left: 26px;
  }

  //.logo {
  //  width: 94px;
  //  height: 18px;
  //  padding-right: 50px;
  //}
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

    p {
      @include regular-text;
    }
  }

  &__link:not(last-child) {
    padding-right: 40px;
  }

  img {
    padding-right: 8px;
  }
}

@media screen and (max-width: 1250px) {
  .header {

    &__container {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1050px) {
  .header {

    &__container {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  nav {
    .link {
      margin-left: 20px;
    }
  }
}