@import "../../styles/mixins";

.header {
  border-bottom: 1px solid $c-light-grey;
  margin-bottom: 40px;

  &__container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

nav {
  display: flex;

  img {
    padding-top: 27px;
  }

  .link {
    @include regular-text;
    text-decoration: none;
    margin-left: 26px;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;

    p {
      @include regular-text;
    }
  }

  &__link:not(:last-child) {
    padding-right: 40px;
  }

  img {
    padding-right: 8px;
  }
}

@media screen and (max-width: 1250px) {
  .header {

    &__container {
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1050px) {
  .header {

    &__container {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  nav {

    img {
      width: 75px;
    }

    .link {
      font-size: 14px;
      margin-left: 15px;
    }
  }

  .actions {
    &__link {
      p {
        font-size: 14px;
      }
    }
  }
}


@media screen and (max-width: 375px) {
  .header {
    display: none;

    &__container {
      justify-content: space-between;
      padding: 0 10px;
    }
  }
}