@import "../../styles/mixins";

.switcher {
  width: 100%;

  &__nav {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 24px;
    border-bottom: 1px solid $c-light-grey;
  }
}

.switchBtn {
  @include primary-text;
  font-size: 20px;
  text-decoration: none;
}

.switchBtn:not(:last-child) {
  margin-right: 24px;
}

.switchBtnActive {
  @include primary-text;
  font-size: 20px;
  color: $c-dark;
  text-decoration: none;
}

.switchBtnActive:not(:last-child) {
  margin-right: 24px;
}