@import "../../../styles/mixins";

.promoCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-light-grey;
  cursor: pointer;

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 110px;
    border-radius: 12px;
    background: linear-gradient(#00D4C7 0%, #FFEE57 100%);

    h2 {
      @include infoBlockText;
      color: $c-white;
    }
  }

  &__info {
    &__item:not(:last-child) {
      margin-bottom: 16px;
    }

    p {
      @include primary-text;
    }

    h5 {
      @include secondary-text;
      color: $c-dark-grey;
    }

    .greenLink {
      color: $c-green;
    }
  }
}

@media screen and (max-width: 1250px) {
  .promoCard {
    flex-direction: column;

    &__price {
      margin-bottom: 20px;
    }

    &__info {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 850px) {
  .promoCard {
    &__price {
      width: 150px;
      height: 90px;
    }

    &__info {
      h5 {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .promoCard {
    &__info {
      .greenLink {
        display: none;
      }

      .greenText {
        color: $c-green;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .promoCard {
    &__price {
      max-width: 400px;
      max-height: 300px;
      padding: 70px 100px;
    }
  }
}

@media screen and (max-width: 420px) {
  .promoCard {
    &__price {
      max-width: 350px;
      max-height: 200px;
      padding: 70px 100px;
    }

    &__info {
      h5 {
        @include primary-text;
      }

      .greenLink {
        display: initial;
      }

      .greenText {
        color: $c-grey;
      }
    }
  }
}