@import "../../styles/mixins";

.sortingButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-y: scroll;
  margin-left: 24px;
}

.bottomSheet {
  display: none;
}

@media screen and (max-width: 420px) {
  .filter {
    display: initial;
  }

  .bottomSheet {
    display: initial;

    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}